<nav class="navbar navbar-light fixed-top">
    <form class="form-inline">
  
  <h5>meetvents</h5>
  <section class="searchlog" style="margin:auto">
    <a href="/events"><i class="fas fa-home"></i></a>
    <a href="/profile" class="mr-3">Profile</a>
    <input class="form-control mr-sm-6" type="search" placeholder="  Discover" aria-label="Search">
    <a href="/Logout">Logout</a>
  </section>
  </form>
</nav>
  
  <div class="detail">
  <div class="row">
  {{#each userMatch}}
    <div class="card col-sm-12 col-md-4 col-lg-3 mt-2 mb-2 m-2 mr-auto">
      <div class="card-image">
        <figure class="image is-4by3 mt-2">
          <img src="{{this.photo}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{this.name}}</p>
            <p class="subtitle is-6">Email {{this.email}}</p>
            <p class="subtitle is-6"><span class="tag is-primary">Genre: {{this.genre}}</span></p>
            <p class="subtitle is-6">Country {{this.country}}</span></p>
          </div>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              <form action="/users/{{this.id}}" method="POST">
              <input class="btn btn-info w-100"type="submit" value="friends" name="friends">
              </form>
            </span>
          </p>
        </footer>
      </div>
    </div>
  {{/each}}
  </div>
  </div>